#page-title{
    height: 100vh;
    background-size: cover !important;
    margin-top: 90px;
    display: table;
    width:100%;
    padding-top: 0!important;
}

#page-title .container{
    display: table-cell;
    vertical-align: middle;
}

#page-title h1{
    font-size: 50px;
    color: #cfcfcf!important;
    text-shadow:
            0px 0px 10px red,
            0px 0px 20px blue,
            0px 0px 30px yellow,
            0px 0px 40px pink;
}

.flag{
    height: 15px;
    width: 25px;
}

.delivery img{
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.sidebar li.active{
    font-weight: bold;
}

@media (max-width: 991px){
    #page-title{
        margin-top: 0;
    }
    .facebook-box{
        overflow: hidden;
    }
}

/*==============Slider==============*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}